.style1 {
    width: 3%;
}

#existingAttachments {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #existingAttachments li {
        padding: 5px;
        display: block;
        color: green;
    }

.attachment {
    background-image: url('css/images/paperclip_16x16.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px !important;
}
