 input[type=text]
        {
            text-transform:uppercase;
        } 
 .textbox-calendar
 {
    background-image: url("css/images/calendar.png"); 
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 15px;
 }