<div class="bottomwrapper">
    <div class="eightypercent">
        <div class="texttypebar">Bill To</div>
        <div class="gridholder">
            <table style="width: 2500px;" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 4%;">Active</th>
                        <th style="width: 7%;">Delivery Options</th>
                        <th style="width: 7%;">Division</th>
                        <th style="width: 10%;">Company</th>
                        <th style="width: 7%;">Contact</th>
                        <th style="width: 10%;">Address 1</th>
                        <th style="width: 7%;">Address 2</th>
                        <th style="width: 7%;">City</th>
                        <th style="width: 5%;">State</th>
                        <th style="width: 5%;">Zip</th>
                        <th style="width: 7%;">Phone</th>
                        <th style="width: 7%;">Fax</th>
                        <th style="width: 7%;">Email</th>
                        <th style="width: 5%;">Input Date</th>
                        <th style="width: 5%;">Input By</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.clientBillToes">
                    <tr data-bind="click: $root.selectBillTo, css:{'tablerowselect': $root.selectedBillTo() === $data}">
                        <td class="left" align="center">
                            <input type="checkbox" data-bind="checked: Active" />
                        </td>
                        <td>???</td>
                        <td>???</td>
                        <td class="left" data-bind="text:Company"></td>
                        <td class="left" data-bind="text:Contact"></td>
                        <td class="left" data-bind="text:Address1"></td>
                        <td class="left" data-bind="text:Address2"></td>
                        <td class="left" data-bind="text:City"></td>
                        <td class="left" data-bind="text:State"></td>
                        <td class="left" data-bind="text:Zip"></td>
                        <td class="left" data-bind="text:Phone"></td>
                        <td class="left" data-bind="text:Fax"></td>
                        <td class="left" data-bind="text:Email"></td>
                        <td class="left" data-bind="text: InputDate"></td>
                        <td class="left" data-bind="text: InputBy"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="recordfooter"><span data-bind="text: $root.totalBillToes"></span>&nbsp;Records</div>
        <div class="sthalfdividernopadding">
            <div class="btn-group">
                <button class="btn btn-small">View</button>
                <button class="btn btn-small" data-bind="click: addNewBillTo">Add</button>
                <button class="btn btn-small" data-bind="click: editBillTo, enable: selectedBillTo()">Edit*</button>
                <button class="btn btn-small">Audit</button>
                <button class="btn btn btn-danger btn btn-small" data-bind="click: deleteBillTo, enable: selectedBillTo()">Delete*</button>


            </div>
        </div>
        <div class="btn-group dropup">
            <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
            <button class="btn btn-small btn primary pull-right">View Template</button>

            <ul class="dropdown-menu pull-right">
                <li><a href="#">My Work Order</a></li>
                <li><a href="#">My Documents</a></li>
                <li><a href="#">My Search Criteria</a></li>
            </ul>
            <button class="btn btn-small btn primary pull-right">Save Template</button>
            <button class="btn btn-small btn primary pull-right">Reset To Default</button>
            <button class="btn btn-small btn primary pull-right">Undo Sort</button>
        </div>
    </div>
    <div class="boxholderbuttons">
        <div class="btn-group btn-group-vertical">
            <button class="btn" data-bind="click: $root.editClient">Edit Client*</button>
            <button class="btn">Price List(3)*</button>
        </div>
    </div>
    <div class="eightypercent">
    </div>
</div>

<div id="modal-ClientBillTo" title="Add/Edit Bill To" class="modal hide" data-bind="modal: $root.editingBillTo">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4>Ship To Add/Edit</h4>
    </div>
    <div class="modal-body" id="Div2">
        <div data-bind="template: { name: 'add_billto', templateUrl: 'Templates/EndUser/Shared/ClientListingShared' }">
        </div>
    </div>
    <div class="btn-group modal-footer">
        <button class="btn btn-primary" data-bind="click: $root.saveBillTo">Save</button>
        <button class="btn" data-bind="click: $root.cancelEdit">Cancel</button>
    </div>
</div>
