<div class="topwrapper">
    <div class="eightypercent">

        <div class="stgridbottomsixtypercent">

            <div class="state">
                Division
        <select name="state7" class="dropdownbox" id="Select1"></select>
            </div>
            <div class="topwrapper">
                <div>
                    <br />
                    <div class="gridholder">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="Table1">
                            <tr>
                                <th width="150">Tech Requirement</th>
                                <th>Comments</th>

                            </tr>
                            <tr>
                                <td width="150" class="left">
                                    <div class="eightypercent">INVOICE</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox29" />
                                    </div>
                                </td>
                                <td class="left">Type your Comments
                                </td>

                            </tr>

                            <tr>
                                <td width="150" class="tdalt">
                                    <div class="eightypercent">BNS SIGN OFF</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox35" />
                                    </div>
                                </td>
                                <td class="tdalt">Type your Comments</td>

                            </tr>
                            <tr>
                                <td width="150" class="left">
                                    <div class="eightypercent">CLIENT FORM</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox52" />
                                    </div>
                                </td>
                                <td class="left">Type your Comments
                                </td>

                            </tr>
                            <tr>
                                <td width="150" class="tdalt">
                                    <div class="eightypercent">STORE STAMP</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox58" />
                                    </div>
                                </td>
                                <td class="tdalt">Type your Comments</td>

                            </tr>
                            <tr>
                                <td width="150" class="left">
                                    <div class="eightypercent">IVR</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox94" />
                                    </div>
                                </td>
                                <td class="left">Type your Comments
                                </td>
                            </tr>
                            <tr>
                                <td width="150" class="tdalt">
                                    <div class="eightypercent">TRAVEL</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox96" />
                                    </div>
                                </td>
                                <td class="tdalt">Type your Comments</td>
                            </tr>
                            <tr>
                                <td width="150" class="left"></td>
                                <td class="left"></td>
                            </tr>
                            <tr>
                                <td width="150" class="tdalt"></td>
                                <td class="tdalt"></td>
                            </tr>


                        </table>
                    </div>

                </div>
                <div>
                    <div class="gridholder">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="Table2">
                            <tr>
                                <th width="150" class="thlight">Invoice Requirement</th>
                                <th class="thlight">Comments</th>
                            </tr>
                            <tr>
                                <td width="150" class="left">
                                    <div class="eightypercent">INVOICE</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox127" />
                                    </div>
                                </td>
                                <td class="left">Type your Comments
                                </td>
                            </tr>

                            <tr>
                                <td width="150" class="tdalt">
                                    <div class="eightypercent">BNS SIGN OFF</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox131" />
                                    </div>
                                </td>
                                <td class="tdalt">Type your Comments
                                </td>
                            </tr>
                            <tr>
                                <td width="150" class="left">
                                    <div class="eightypercent">CLIENT FORM</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox133" />
                                    </div>
                                </td>
                                <td class="left">Type your Comments
                                </td>
                            </tr>
                            <tr>
                                <td width="150" class="tdalt">
                                    <div class="eightypercent">STORE STAMP</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox135" />
                                    </div>
                                </td>
                                <td class="tdalt">Type your Comments</td>
                            </tr>
                            <tr>
                                <td width="150" class="left">
                                    <div class="eightypercent">IVR</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox137" />
                                    </div>
                                </td>
                                <td class="left">Type your Comments</td>
                            </tr>
                            <tr>
                                <td width="150" class="tdalt">
                                    <div class="eightypercent">TRAVEL</div>
                                    <div class="boxholder">
                                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox139" />
                                    </div>
                                </td>
                                <td class="tdalt">Type your Comments</td>
                            </tr>
                            <tr>
                                <td width="150" class="left"></td>
                                <td class="left"></td>
                            </tr>
                            <tr>
                                <td width="150" class="tdalt"></td>
                                <td class="tdalt"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-small">Edit*</button>
                        <button class="btn btn-small">Audit</button>
                        <button class="btn btn btn-danger btn btn-small">Delete*</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="sthalfdividersmaller">
            <div class="sectionheadings">Options</div>

            <div class="state">
                <i class="icon-ok"></i>
                Active
            <br />
                <i class="icon-ok"></i>
                <span class="texttypesmallercheckbox">Credit Hold</span>
                <br>

                <i class="icon-ok"></i>
                <label for="radio3"></label>
                Print In/Out Sign Off 
            </div>

            <div class="state">
                <i class="icon-ok"></i>
                Print Loc ID
                <br>
                <i class="icon-remove"></i>
                C/O<br />

            </div>
            <div class="state">
                <i class="icon-ok"></i>
                <label for="radio2"></label>
                Aerial Pricing 
            <br>
                <i class="icon-remove"></i>
                Travel Labor
            </div>
        </div>
        <div class="sthalfdividersmaller">
            <br />
            <div class="sectionheadings">Special Instructions</div>
            <textarea name="note type" cols="9" rows="4" class="textboxlesslarger" id="Textarea6"></textarea>
            <button class="btn btn-small" id="viewspecialinstruc">&nbsp;View&nbsp;</button><br />
        </div>
        <div class="sthalfdividersmaller">
            <div class="topwrapper">
                <div class="state">
                    <br />
                    Deposit Start Date<input name="client" type="text" class="tcal textbox" id="Text16" />
                    Aging Start Date<input name="client" type="text" class="tcal textbox" id="Text7" />
                </div>
                <div class="state">
                    <br />
                    Deposit End Date
      <input type="text" class="tcal textbox" id="begindate" value=" " />
                    Aging End Date
      <input type="text" class="tcal textbox" id="Text8" value=" " />
                </div>
                <div class="boxholderfixed">
                    <br />
                    <br />


                    <div class="state">
                        <div class="btn-group">
                            <button class="btn btn-small" id="Button6">Run</button>
                            <button data-target="#viewdet" class="btn btn-small">Run Client History</button>


                        </div>
                        <br />
                        <div class="btn-group">
                            <button class="btn btn-small" id="Button9">Run</button>
                            <button data-target="#viewdet1" class="btn btn-small">Run Client History</button>


                        </div>
                    </div>
                    <div class="state">
                    </div>

                </div>

            </div>
            <div class="topwrapper">
                <br />
                <table id="Table4" border="0" cellpadding="0" cellspacing="0">

                    <tr>
                        <th>Division</th>
                        <th>Invoice DSO</th>
                        <th>Batch DSO</th>
                        <th>Invoice DTP</th>
                        <th>Batch DTP</th>
                    </tr>
                    <tr>
                        <td class="left">SERVICE</td>
                        <td class="righttext">21.0</td>
                        <td class="righttext">30.1 </td>
                        <td class="righttext">12.2</td>
                        <td class="righttext">21.1 </td>
                    </tr>

                    <tr>
                        <td class="tdalt">SERVCO
                        </td>
                        <td class="tdalt righttext">21.0</td>
                        <td class="tdalt righttext">30.1</td>
                        <td class="tdalt righttext">12.2</td>
                        <td class="tdalt righttext">21.1</td>
                    </tr>
                    <tr>
                        <td class="left righttext">NATIONAL PROJECTS</td>
                        <td class="left righttext">21.0</td>
                        <td class="left righttext">30.1</td>
                        <td class="left righttext">12.2</td>
                        <td class="left righttext">21.1</td>

                    </tr>
                    <tr>
                        <td class="tdalt">LIGHTING PROJECTS</td>
                        <td class="left righttext">21.0</td>
                        <td class="left righttext">30.1</td>
                        <td class="left righttext">12.2</td>
                        <td class="left righttext">21.1</td>
                    </tr>
                    <tr>
                        <td class="left righttext"></td>
                        <td class="left righttext"></td>
                        <td class="left righttext">&nbsp;</td>
                        <td class="left righttext"></td>
                        <td class="left righttext">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="tdalt">TOTAL AVG</td>
                        <td class="tdalt righttext">23.23</td>
                        <td class="tdalt righttext">12.22</td>
                        <td class="tdalt righttext">12.2</td>
                        <td class="tdalt righttext">25.25</td>
                    </tr>

                </table>

                <div class="texttypeinstructions">
                    *DTP-Calculation is Deposit date to Invoice/Batch date on an average.<br />
                    *DSO-Calculation is Aging to Billing for 30 days.<br />

                </div>
            </div>
        </div>

    </div>
    <div class="boxholderbuttons">
        <div class="btn-group btn-group-vertical">
            <button class="btn">Edit Client*</button>
            <button class="btn">Price List(3)*</button>
        </div>
    </div>
</div>
