<div class="bottomwrapper">
    <div class="eightypercent">
        <div class="texttypebar">Bill To</div>
        <div class="gridholder">
            <table style="width: 2500px;" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 4%;">Active</th>
                        <th style="width: 7%;">Delivery Options</th>
                        <th style="width: 7%;">Division</th>
                        <th style="width: 10%;">Company</th>
                        <th style="width: 7%;">Contact</th>
                        <th style="width: 10%;">Address 1</th>
                        <th style="width: 7%;">Address 2</th>
                        <th style="width: 7%;">City</th>
                        <th style="width: 5%;">State</th>
                        <th style="width: 5%;">Zip</th>
                        <th style="width: 7%;">Phone</th>
                        <th style="width: 7%;">Fax</th>
                        <th style="width: 7%;">Email</th>
                        <th style="width: 5%;">Input Date</th>
                        <th style="width: 5%;">Input By</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left" align="center">
                            <input type="checkbox" checked="checked" name="checkbox2" id="checkbox57" /></td>
                        <td class="left">MAIL
                </td>
                        <td class="left">SERVICE</td>
                        <td class="left">HEARTLAND RETAIL CONSTRUCTION INC</td>
                        <td class="left">TIM JOHNSON</td>
                        <td class="left">4956 MEMCO LANE SUITE A</td>
                        <td class="left">4956 MEMCO LANE SUITE A</td>
                        <td class="left">LAKE RONKONKOMA</td>
                        <td class="left">WI</td>
                        <td class="left">53404-9647</td>
                        <td class="left">262-898-6720</td>
                        <td class="left">262-892-6758</td>
                        <td class="left">tim@heartlandretail.com</td>
                        <td class="left">05/11/12</td>
                        <td class="left">ASOLER-KOZAROWITZKY</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="recordfooter">3,456 Records</div>
        <div class="sthalfdividernopadding">
            <div class="btn-group">
                <button class="btn btn-small">View</button>
                <button class="btn btn-small">Add</button>
                <button class="btn btn-small">Edit*</button>
                <button class="btn btn-small">Audit</button>
                <button class="btn btn btn-danger btn btn-small">Delete*</button>


            </div>
        </div>
        <div class="btn-group dropup">
            <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
            <button class="btn btn-small btn primary pull-right">View Template</button>

            <ul class="dropdown-menu pull-right">
                <li><a href="#">My Work Order</a></li>
                <li><a href="#">My Documents</a></li>
                <li><a href="#">My Search Criteria</a></li>
            </ul>
            <button class="btn btn-small btn primary pull-right">Save Template</button>
            <button class="btn btn-small btn primary pull-right">Reset To Default</button>
            <button class="btn btn-small btn primary pull-right">Undo Sort</button>
        </div>
    </div>
    <div class="boxholderbuttons">
        <div class="btn-group btn-group-vertical">
            <button class="btn">Edit Client*</button>
            <button class="btn">Price List(3)*</button>
        </div>
    </div>
    <div class="eightypercent">
    </div>
</div>
