<div class="eightypercent">
    <div class="boxholder">
        <div class="sectionheadings">Client Search</div>
        Client 
        <input name="client" type="text" class="textbox"  data-bind="value:criteriaClient, enterKey: $root.loadClients"/>
        Company 
        <input name="client" type="text" class="textbox"  data-bind="value:criteriaCompany, enterKey: $root.loadClients" />
        <br />
    </div>
    <div class="boxholder">
        <div class="sectionheadings">Status</div>
        <input type="radio" name="statusGroup" value="active" data-bind="checked: criteriaStatus" />
        <label for="radio11"></label>
        Active
        
        <input type="radio" name="statusGroup" value="inactive" data-bind="checked: criteriaStatus"  />
        <label for="radio11"></label>
        Inactive
	    
        <input type="radio" name="statusGroup" value="all" data-bind="checked: criteriaStatus" />All<br />

    </div>
    <div class="sthalfdividersmaller">
        <div class="sectionheadings">Review Search</div>
        <div class="halfoffield">
            Division
            <select name="wwom1" class="dropdownbox"></select><br />
            <br />
            <div class="sectionheadings">Missing Review</div>
            <input type="radio" name="checkbox2" />
            Missing
	      
            <input type="radio" name="checkbox2" />
            Assigned
           
            <input type="radio" name="checkbox2" />
            All
       
        </div>
        <div class="halfoffield">
            <div class="halfoffield">
                <input type="checkbox" name="checkbox2" />
                Manager<br />
            </div>
            <div class="halfoffield">
                <input type="checkbox" name="checkbox2" />
                Coordinator
            </div>
            <br />
            <div class="halfoffield">
                <input type="checkbox" name="checkbox2" />
                Biller<br />
            </div>
            <div class="halfoffield">
                <input type="checkbox" name="checkbox2" />
                Designer<br />
            </div>
            <p class="texttypeinstructions">"Review search" is to appear here only when user hits the Review Tab</p>
            <p class="texttypeinstructions">* All Grids have the ability to perform multiple sorts and are customizable</p>

        </div>
    </div>
    <div class="boxholder texttypeinstructions">
        <span class="texttypeinstructions">* Make sure columns are resized auto according to copy column width. and listed In an alphabetical manner.Grid should appear only when items are listed. Please list order by division.
        *Fields that aren't filled turn into another color to indicate the user*
        </span>
    </div>
</div>
<div class="boxholderbuttons">
    <div class="btn-group btn-group-vertical">
        <button class="btn" data-bind="click: $root.loadClients">Search</button>
    </div>
</div>
