<div data-bind="with: selectedClient">
    <!--<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>-->

    <div class="eightypercent">
        <div class="boxholder">
            <div class="reqlabel">Client</div>
            <input name="client" type="text" class="textbox" data-bind="value: Clinum, enable: $root.inEditMode" />
            Company
         
            <input name="company" type="text" class="textbox" data-bind="value: Company, enable: $root.inEditMode" />
            Address 1
         
            <input name="addr1" type="text" class="textbox" data-bind="value: Address1, enable: $root.inEditMode" />
            Address 2<input name="addr2" type="text" class="textbox" data-bind="value: Address2, enable: $root.inEditMode" />
            City 
         
            <input name="city" type="text" class="textbox" data-bind="value: City, enable: $root.inEditMode" />
            <div class="state">
                State 
                <select name="state" class="dropdownbox"
                    data-bind="enable: $root.inEditMode, options: $root.ddlStates,
                         value: State,
                         optionsText: 'StateName',
                         optionsValue: 'StateName'">
                </select>
                <!--<select name="state7" class="dropdownbox" id="state7"></select>-->
            </div>
            <div class="zip">
                Zip 
         
                <input name="city" type="text" class="textbox" data-bind="value: Zip, enable: $root.inEditMode" />
            </div>
            Country
            
            <select name="Country" class="dropdownbox" id="Country">
            </select>
            Province
           
            <input name="Province 3" type="text" class="textbox" id="Province 3" />
            <div class="reqlabel">Required</div>
            <span class="texttypeinstructions">* when user types the zipcode then province and country is brought up.</span>
            <br />
            <br />
            <button class="btn btn-small" id="cauditclientdetail">&nbsp;Audit&nbsp;</button>

        </div>
        <div class="boxholder">
            <div class="zip">
                Phone
         
                <input name="phone" type="text" class="textbox" data-bind="value: Phone, enable: $root.inEditMode" />
            </div>
            <div class="state">
                Ext 
                <input name="ext" type="text" class="textbox" data-bind="value: PhoneExt, enable: $root.inEditMode" />
            </div>
            Fax
          
            <input name="fax" type="text" class="textbox" id="fax1" />
            Mobile
          
            <input name="Text" type="text" class="textbox" data-bind="value: Mobile, enable: $root.inEditMode">
            DNE<input name="dne" type="text" class="textbox" data-bind="value: DNE, enable: $root.inEditMode" />
            Title<input name="contact1" type="text" class="textbox" data-bind="value: Title, enable: $root.inEditMode" />
            Last Name<input name="contact1" type="text" class="textbox" data-bind="value: LastName, enable: $root.inEditMode" />
            First Name<input name="contact1" type="text" class="textbox" data-bind="value: FirstName, enable: $root.inEditMode" />
            Website<input name="website1" type="text" class="textbox" data-bind="value: Website, enable: $root.inEditMode" />
            Technology Provider
            <select name="state" class="dropdownbox"
                data-bind="enable: $root.inEditMode, options: $root.ddlTechProviders,
                         value: TechnologyProvider,
                         optionsText: 'TPName',
                         optionsValue: 'TPID',
                         optionsCaption: ' ' ">
            </select>
        </div>
        <div class="boxholder">
            Email
            <input name="email1" type="text" class="textbox" data-bind="value: Email, enable: $root.inEditMode" />
            <div class="halfoffield">
                No of Days
                <select name="state" class="dropdownbox"
                    data-bind="enable: $root.inEditMode, options: $root.ddlNoOfDays,
                         value: Website,
                         optionsText: 'Description',
                         optionsValue: 'NumID',
                         optionsCaption: ' ' ">
                </select>
            </div>
            <div class="halfoffield">
                Payment Terms
                <select name="state" class="dropdownbox"
                    data-bind="enable: $root.inEditMode, options: $root.ddlPaymentTerms,
                         value: PaymentTermDays,
                         optionsText: 'PaymentTermsName',
                         optionsValue: 'PaymentTermsID',
                         optionsCaption: ' ' ">
                </select>
            </div>
            Days to Invoice<input name="inv1" type="text" class="textbox" id="inv1" />Credit Limit<input name="dne" type="text" class="textbox" id="Text2" />
            Location Name Type<br />
            <br />
            <div class="halfoffield">
                <input type="radio" name="radio" id="radio" value="radio">
                Location # *        
            </div>
            <div class="halfoffield">
                <input type="radio" name="radio" id="radio3" value="radio">
                Nickname<br>
                <br />
            </div>
            <br />
            Input By
          
            <input name="taxex1" type="text" class="textboxfilled" data-bind="value: InputBy" readonly="true" />
            Input Date
 
            <input name="taxex1" type="text" class="textboxfilled" data-bind="value: InputDate.formatted" readonly="true" />
            <span class="texttypeinstructions">*Based on the selection above for location # or Nickname the location will display with either location or nickname.</span>

        </div>
        <div class="sthalfdividersmaller">
            <div class="sectionheadings">Options</div>

            <div class="halfoffield">
                <input type="checkbox" name="checkbox2" data-bind="value: ActiveType, enable: $root.inEditMode" />
                Active
           
                <br />
                <input type="checkbox" name="Checked for 1099" id="Checked for 1099">
                <span class="texttypesmallercheckbox">Credit Hold</span>
                <br>
                <input type="checkbox" name="PVA " id="checkbox172">
                <label for="radio2"></label>
                Aerial Pricing 
           
                <br>
                <input type="checkbox" name="Signed Contract" id="checkbox173">
                <label for="radio3"></label>
                Print In/Out Sign Off 
           
            </div>

            <div class="halfoffield">
                <input type="checkbox" name="cbcreditcardholder" id="checkbox174">
                Print Loc ID
                <br>
                <input type="checkbox" name="W9 " id="checkbox175">
                C/O<br />
                <input type="checkbox" name="W9 " id="checkbox176">
                Travel Labor
           
            </div>
        </div>
        <!-- ko if: $root.showNotificationEmail -->
        <div class="sthalfdividersmaller">
            <br />
            <br />
            <table id="divcal" width="100%" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th width="30">Division</th>
                        <th width="47">Notification Email</th>
                        <th width="34">Calender Type</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.clientNotifications">
                    <tr data-bind="visible: $root.inEditMode() && ($root.selectedClientNotification() === $data)">
                        <td colspan="3" data-bind="text: ko.toJSON($data, null, 2)">> </td>
                    </tr>
                    <tr data-bind="click : $root.selectClientNotification, css:{'tablerowselect': $root.selectedClientNotification() === $data}">
                        <td class="left">
                            <span data-bind="visible: (!$root.inNotificationEditMode() || ($root.selectedClientNotification() !== $data)), text: DivisionIDText()"></span>
                            <select class="dropdownbox" data-bind="visible: $root.inEditMode() && ($root.selectedClientNotification() === $data), 
                                                        options: $root.ddlDivisions, value: DivisionID, 
                                                        optionsText: 'Code', optionsValue: 'DivisionID'">
                            </select>
                        </td>
                        <td class="left">
                            <span data-bind="visible: (!$root.inNotificationEditMode() || ($root.selectedClientNotification() !== $data)), text: Email"></span>
                            <input name="NotificationEmail" type="text" required class="textbox" data-bind="value: Email, visible: $root.inNotificationEditMode() && ($root.selectedClientNotification() === $data)" />
                        </td>
                        <td class="left">
                            <span data-bind="visible: (!$root.inNotificationEditMode() || ($root.selectedClientNotification() !== $data)), text: CalendarType()"></span>
                            <select class="dropdownbox" data-bind="visible:$root.inNotificationEditMode() && ($root.selectedClientNotification() === $data), 
                                                        options: $root.ddlCalendarTypes, value: CalendarType 
                                                        ">
                            </select>
                        </td>
                        <!--<td class="left" data-bind="text: InputBy"></td>
                        <td class="left" data-bind="text: InputDate.formatted"></td>-->
                    </tr>
                </tbody>
            </table>
            <br />
            <div class="btn-group" data-bind="ifnot: $root.inNotificationEditMode">
                <button class="btn btn-small" data-bind="click: $root.addNewClientNotification">Add</button>
                <button class="btn btn-small" data-bind="click: $root.editClientNotification, enable: $root.selectedClientNotification()">Edit*</button>
                <button class="btn btn-small">&nbsp;Audit&nbsp;</button>
                <button class="btn btn btn-danger btn btn-small" data-bind="click: $root.deleteClientNotification, enable: $root.selectedClientNotification()">Delete*</button>
            </div>
            <div class="btn-group" data-bind="if: $root.inNotificationEditMode">
                <!-- ko with: $root.editClientNotification -->
                <button class="btn btn-small btn-success" data-bind="enable: $root.modelIsValid, command: $root.saveClientNotificationCmd, activity: $root.saveClientNotificationCmd.isExecuting">Save</button>
                <button class="btn btn-small" data-bind="click: $root.cancelEditNotification">Cancel</button>
                <!-- /ko -->
            </div>

        </div>
        <!-- /ko -->

    </div>
    <div class="boxholderbuttons">
        <div class="btn-group btn-group-vertical" data-bind="ifnot: $root.inEditMode">
            <button class="btn" data-bind="click: $root.editClient">Edit Client*</button>
            <button class="btn">Price List(3)*</button>
        </div>
        <div class="btn-group btn-group-vertical" data-bind="if: $root.inEditMode">
            <!-- ko with: $root.editingClient -->
            <button class="btn btn-large btn-success" id="clientDetailSave" data-bind="enable: $root.modelIsValid, command: $root.saveClientDetailsCmd, activity: $root.saveClientDetailsCmd.isExecuting">Save</button>
            <button class="btn btn-large" id="clientDetailCancel" data-bind="click: $root.cancelEdit">Cancel</button>
            <!-- /ko -->
        </div>
        <!--<div class="btn-group btn-group-vertical">
            <button class="btn">Edit Client*</button>
            <button class="btn">Price List(3)*</button>
        </div>-->
    </div>

</div>



