<div class="eightypercent">
    <div class="texttypebar">Client Listing</div>
    <div class="gridholder">
        <table id="clientlisting" style="width: 3580px;" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width: 80px;">Active</th>
                    <th style="width: 120px;">Client</th>
                    <th style="width: 150px;">Company</th>
                    <th style="width: 220px;">Address 1</th>
                    <th style="width: 120px;" class="gcomment">City</th>
                    <th style="width: 100px;" >State</th>
                    <th style="width: 100px;">Zip</th>
                    <th style="width: 150px;">Contact</th>
                    <th style="width: 100px;">Phone</th>
                    <th style="width: 100px;">Fax</th>
                    <th style="width: 150px;" class="gemail">Website</th>
                    <th style="width: 100px;">DNE</th>
                    <th style="width: 150px;">Credit Hold</th>
                    <th style="width: 100px;">Credit Limit</th>
                    <th style="width: 150px;">Technology Provider</th>
                    <th style="width: 170px;">Email</th>
                    <th style="width: 100px;">Payment Terms</th>
                    <th style="width: 100px;">Tax Exempt ID</th>
                    <th style="width: 100px;">Days to Invoice</th>
                    <th style="width: 100px;">Print Sign Off</th>
                    <th style="width: 170px;">Notification Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left" align="center">
                        <input type="checkbox" checked="checked" name="checkbox2" id="checkboxcl" /></td>
                    <td class="left">APPLE</td>
                    <td class="left">APPLE STORE</td>
                    <td class="left">1225 FRANKLIN AVENUE, SUITE 200</td>
                    <td class="left">LAKE RONKONKOMA</td>
                    <td class="left">CA</td>
                    <td class="left">17857-3234</td>
                    <td class="left">BOB EBERLY</td>
                    <td class="left">512-674-2000</td>
                    <td class="left">336-605-2010</td>
                    <td class="left">www.apple.com</td>
                    <td class="left">1,000.00</td>
                    <td class="left">NO</td>
                    <td class="left">2,000.00</td>
                    <td class="left">SERVICE CHANNEL</td>
                    <td class="left">bob.eberly@apple.com</td>
                    <td class="left">30</td>
                    <td class="left">11-60952345</td>
                    <td class="left">60</td>
                    <td class="left" align="center">
                        <input type="checkbox" checked="checked" name="checkbox2" id="checkbox71" /></td>
                    <td class="left">apple@broadwaynational.com</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="recordfooter">3,456 Clients</div>
</div>
<div class="boxholderbuttons">
    <div class="btn-group btn-group-vertical">
        <button class="btn" id="listingnew">New Client</button>
        <button class="btn" id="listingedit">Edit Client*</button>
        <button class="btn" id="listingpricelist">Price List(3)*</button>
        <button class="btn btn-danger" id="listingdelete">Delete*</button>
    </div>
</div>

<div class="eightypercent">
    <div class="btn-group dropup">
        <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
        <button class="btn btn-small btn primary pull-right">View Template</button>

        <ul class="dropdown-menu pull-right">
            <li><a href="#">My Work Order</a></li>
            <li><a href="#">My Documents</a></li>
            <li><a href="#">My Search Criteria</a></li>
        </ul>
        <button class="btn btn-small btn primary pull-right" id="savetemp">Save Template</button>
        <button class="btn btn-small btn primary pull-right">Reset To Default</button>
        <button class="btn btn-small btn primary pull-right">Undo Sort</button>
    </div>
    <!-- /btn-group -->

</div>
