<div class="eightypercent">
    <!--<div class="stgridbottomsixtypercent">-->
        <div class="texttypebar">Documents</div>
        <div class="gridholder">
            <table id="documents" width="100%" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 15%;">Type</th>
                        <th style="width: 5%;">File</th>
                        <th style="width: 15%;">File Name</th>
                        <th style="width: 30%;">Comment</th>
                        <th style="width: 5%;">Public</th>
                        <th style="width: 10%;">Input Date</th>
                        <th style="width: 10%;">Input By</th>
                        <th style="width: 10%;">Record No</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: ClientDocuments">
                    <tr data-bind="click : $root.selectClientDocument, css:{'tablerowselect': $root.selectedClientDocument() === $data}">
                        <td class="left" data-bind="text: Document.DocumentTypeName()" ></td>
                        <td class="left" data-bind="text: Document.FileExtension"></td>
                        <td class="left" data-bind="text: Document.formattedName"></td>
                        <td class="left" data-bind="html: Comments"></td>
                        <td class="left" align="center">
                            <input type="checkbox" data-bind="checked: Public" /></td>
                        <td class="left" data-bind="text: InputDate.formatted"></td>
                        <td class="left" data-bind="text: Document.InputBy"></td>
                        <td class="left" data-bind="text: Document.RecordNumber"></td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="recordfooter"><span data-bind="text: $root.totalClientDocuments"></span>&nbsp;Documents</div>
        <div class="state">
            <div class="btn-group">
                <button class="btn btn-small">View</button>
                <button class="btn btn-small" data-bind="click:addDocument, enable: ClientId()" >Add</button>
                <button class="btn btn-small" data-bind="click:editDocument, enable: selectedClientDocument()">Edit*</button>
                <button class="btn btn-small" data-bind="click: emailDocument, enable: selectedClientDocument()">Email</button>
                <button class="btn btn-small">Audit</button>
                <button class="btn btn btn-danger btn btn-small" data-bind="click : deleteDocument, enable: selectedClientDocument()">Delete*</button>
                <p class="texttypeinstructions">*Anything that is made public (note or document) goes listed in red</p>
                <p class="texttypeinstructions">*Make sure the pdf file,image, excel or email messages will open up in the native client </p>
            </div>
        </div>
        <div class="btn-group dropup">
            <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
            <button class="btn btn-small btn primary pull-right">View Template</button>

            <ul class="dropdown-menu pull-right">
                <li><a href="#">My Work Order</a></li>
                <li><a href="#">My Documents</a></li>
                <li><a href="#">My Search Criteria</a></li>
            </ul>
            <button class="btn btn-small btn primary pull-right">Save Template</button>
            <button class="btn btn-small btn primary pull-right">Reset To Default</button>
            <button class="btn btn-small btn primary pull-right">Undo Sort</button>
        </div>
   <!-- </div>    -->
</div>
<div class="boxholderbuttons">
    <div class="btn-group btn-group-vertical">
        <button class="btn">Edit Client*</button>
        <button class="btn">Price List(3)*</button>
    </div>
</div>

<div id="modal-addDocument" title="Add Document" class="modal hide" data-bind="modal: addingDocument">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4>Add Document</h4>
    </div>
    <div class="modal-body" id="Div2">
        <div id="Div3" data-bind="template: { name: 'add_document' , afterRender: $root.prepareUpload, templateUrl: 'Templates/EndUser/Shared/ClientListingShared'}, ">
        </div>
    </div>
    <div class="btn-group modal-footer">
        <button id="btnSaveAddDoc" class="btn btn-primary" data-bind="enable: $root.validFileUploaded, click: $root.saveAddDocument"><i class="icon-ok icon-white"></i>Save</button>
        <button class="btn" data-bind="click: function(data, event) { $root.cancelAdd('#modal-addDocument', data, event) }"><i class="icon-ban-circle"></i>Cancel</button>
    </div>
</div>

<div id="modal-editDocument" title="Add Document" class="modal hide" data-bind="modal: editingDocument">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4>Edit Document</h4>
    </div>
    <div class="modal-body" id="Div4">
        <div id="Div5" data-bind="template: { name: 'edit_documentcomment' , afterRender: $root.prepareUpload, templateUrl: 'Templates/EndUser/Shared/ClientListingShared'}">
        </div>
    </div>
    <div class="btn-group modal-footer">
        <button id="btnSaveEdit" class="btn btn-primary" data-bind="click: function(data, event) {$root.saveEditDocument('#modal-editDocument', data, event) }"><i class="icon-ok icon-white"></i>Save</button>

        <!--<button id="btnSaveEdit" class="btn btn-primary" data-bind="click: $root.saveEditDocument"><i class="icon-ok icon-white"></i>Save</button>-->
        <button class="btn" data-bind="click: function(data, event) { $root.cancelEdit('#modal-editDocument', data, event) }"><i class="icon-ban-circle"></i>Cancel</button>
    </div>
</div>

