<div class="eightypercent">
    <div class="texttypebar">Instructions</div>
    <div class="gridholder">
        <table id="instructions" width="100%" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width: 5%;">Active</th>
                    <th style="width: 10%;">Division</th>
                    <th style="width: 20%;">Type</th>
                    <th style="width: 45%;" class="gtextareath">Instructions</th>
                    <th style="width: 10%;">Input Date</th>
                    <th style="width: 10%;">Input By</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: instructions">
                <tr data-bind="click : $root.selectInstruction, css:{'tablerowselect': $root.selectedInstruction() === $data}">
                    <td class="left" align="center">
                        <input type="checkbox" data-bind="checked: ActiveType " /></td>
                    <td class="left" data-bind="text:Code"></td>
                    <td class="left" data-bind="text:InstructionType"></td>
                    <td class="left" data-bind="html:Notes">                    
                    <td class="left" data-bind="text:InputDate.formatted"></td>
                    <td class="left" data-bind="text:InputBy"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="recordfooter"><span data-bind="text: $root.totalInstructions"></span>&nbsp;Instructions</div>
    <div data-bind="gridpager: $root.instructionsGridTotalPages, pagesize: $root.instructionsGridPageSize, currentpage: $root.instructionsGridCurrentPage, datasource: $root.fetchInstructions">
        </div>
    <div class="sthalfdividernopadding">
        <div class="btn-group">
            <button class="btn btn-small" data-bind="click:addNewInstruction">Add</button>
            <button class="btn btn-small" data-bind="click:editInstruction, enable: selectedInstruction()">Edit*</button>
            <button class="btn btn-small">Audit</button>
            <button class="btn btn btn-danger btn btn-small" data-bind="click:deleteInstruction, enable: selectedInstruction()">Delete*</button>
        </div>
    </div>
    <div class="btn-group dropup">
        <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
        <button class="btn btn-small btn primary pull-right">View Template</button>

        <ul class="dropdown-menu pull-right">
            <li><a href="#">My Work Order</a></li>
            <li><a href="#">My Documents</a></li>
            <li><a href="#">My Search Criteria</a></li>
        </ul>
        <button class="btn btn-small btn primary pull-right">Save Template</button>
        <button class="btn btn-small btn primary pull-right">Reset To Default</button>
        <button class="btn btn-small btn primary pull-right">Undo Sort</button>
    </div>
</div>
<div class="boxholderbuttons">
    <div class="btn-group btn-group-vertical">
        <button class="btn" id="instructionsclientedit">Edit Client*</button>
        <button class="btn" id="instructionspricelist">Price List(3)*</button>
    </div>
</div>

<div id="modal-instruction" title="Add/Edit Instruction" class="modal hide" data-bind="modal: editingInstruction">
    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4>Add/Edit/View Instruction</h4>
    </div>
    <div class="modal-body" style="max-height: 100% !important;">
        <div data-bind="template: { name: 'edit_instructions' , afterRender: $root.prepareModal, templateUrl: 'Templates/EndUser/Shared/ClientListingShared' }">
        </div>
    </div>
    <div class="btn-group modal-footer">
        <button class="btn btn-primary" data-bind="click: $root.saveInstruction">Save</button>
        <button class="btn" data-bind="click: $root.cancelEdit">Cancel</button>
    </div>

</div>
