<div class="eightypercent">
    <div class="texttypebar">Instructions</div>
    <div class="gridholder">
        <table id="instructions" width="100%" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width: 10%;">Active</th>
                    <th style="width: 10%;">Division</th>
                    <th style="width: 20%;">Type</th>
                    <th style="width: 45%;" class="gtextareath">Instructions</th>
                    <th style="width: 10%;">Input Date</th>
                    <th style="width: 10%;">Input By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left" align="center">
                        <input type="checkbox" name="checkbox2" id="checkbox3" checked="checked" /></td>
                    <td class="left">SERVICE</td>
                    <td class="left">IVR</td>
                    <td class="left">
                        <textarea name="notescomment" id="notes1" cols="1" rows="5" style="font-size: 12px;" class="textboxmedium">Technician must check in and out of the store using the above IVR (Integrated Voice Response) number 866-775-4546. Use the "WEB" # above and use Pin #14908 for check in.</textarea></td>
                    <td class="left">03/28/12</td>
                    <td class="left">RBECK</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="recordfooter">3,456 Instructions</div>
    <div class="sthalfdividernopadding">
        <div class="btn-group">
            <button class="btn btn-small">Add</button>
            <button class="btn btn-small">Edit*</button>
            <button class="btn btn-small">Audit</button>
            <button class="btn btn btn-danger btn btn-small">Delete*</button>
        </div>
    </div>
    <div class="btn-group dropup">
        <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
        <button class="btn btn-small btn primary pull-right">View Template</button>

        <ul class="dropdown-menu pull-right">
            <li><a href="#">My Work Order</a></li>
            <li><a href="#">My Documents</a></li>
            <li><a href="#">My Search Criteria</a></li>
        </ul>
        <button class="btn btn-small btn primary pull-right">Save Template</button>
        <button class="btn btn-small btn primary pull-right">Reset To Default</button>
        <button class="btn btn-small btn primary pull-right">Undo Sort</button>
    </div>
</div>
<div class="boxholderbuttons">
    <div class="btn-group btn-group-vertical">
        <button class="btn" id="instructionsclientedit">Edit Client*</button>
        <button class="btn" id="instructionspricelist">Price List(3)*</button>
    </div>
</div>
