<div class="eightypercent">
    <div class="texttypebar">Review</div>
    <div class="gridholder">
        <table id="review" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Active</th>
                <th>Client</th>
                <th>Company</th>
                <th>Division</th>
                <th>Manager</th>
                <th>Coordinator</th>
                <th>Designer</th>
                <th>Biller</th>
                <th>SalesRep</th>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" checked="checked" name="checkbox2" id="checkbox152" /></td>
                <td class="left">APPLE</td>
                <td class="left">APPLE STORE</td>
                <td class="left">
                    <select name="state7" class="dropdownbox" id="Select16">
                        <option>SERVICE</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select84">
                        <option>DFERRARO</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select85">
                        <option>ANDREWSMITH</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select86">
                        <option>ASOLER-KOZAROWITZKY</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select44">
                        <option>ASOLER-KOZAROWITZKY</option>
                    </select></td>
                <td class="left">ASOLER-KOZAROWITZKY</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" checked="checked" name="checkbox2" id="checkbox153" /></td>
                <td class="tdalt">PUBLIC STORAGE</td>
                <td class="tdalt">PUBLIC STORAGE-VENDOR # 215019</td>
                <td class="tdalt">
                    <select name="state7" class="dropdownbox" id="Select17">
                        <option>NATIONAL PROJECTS</option>
                    </select></td>
                <td class="tdalt">
                    <select name="Country3" class="dropdownbox" id="Select18">
                        <option>ASOLER-KOZAROWITZKY</option>
                    </select></td>
                <td class="tdalt">
                    <select name="Country3" class="dropdownbox" id="Select19">
                        <option>ANDREWSMITH</option>
                    </select></td>
                <td class="tdalt">
                    <select name="Country3" class="dropdownbox" id="Select20">
                        <option>DFERRARO</option>
                    </select></td>
                <td class="tdalt">
                    <select name="Country3" class="dropdownbox" id="Select21">
                        <option>DFERRARO</option>
                    </select></td>
                <td class="tdalt">ARUNPERREGATTUR</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" checked="checked" name="checkbox2" id="checkbox28" /></td>
                <td class="left">TRIANGLE PROPER</td>
                <td class="left">TRIANGLE PROPERTIES</td>
                <td class="left">
                    <select name="state7" class="dropdownbox" id="Select22">
                        <option>SERVICE</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select23">
                        <option>DFERRARO</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select24">
                        <option>ASOLER-KOZAROWITZKY</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select25">
                        <option>DFERRARO</option>
                    </select></td>
                <td class="left">
                    <select name="Country3" class="dropdownbox" id="Select49">
                        <option>DFERRARO</option>
                    </select></td>
                <td class="left">PRATHIBASEETHARAM</td>

            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox163" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox155" /></td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox164" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox156" /></td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox165" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox157" /></td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox166" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox158" /></td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox167" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox159" /></td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox168" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox160" /></td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox169" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox161" /></td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
            </tr>
            <tr>
                <td class="tdalt" align="center">
                    <input type="checkbox" name="checkbox2" id="checkbox170" /></td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <tr>
                    <td class="left" align="center">
                        <input type="checkbox" name="checkbox2" id="checkbox162" /></td>
                    <td class="left">&nbsp;</td>
                    <td class="left">&nbsp;</td>
                    <td class="left">&nbsp;</td>
                    <td class="left">&nbsp;</td>
                    <td class="left">&nbsp;</td>
                    <td class="left">&nbsp;</td>
                    <td class="left">&nbsp;</td>
                    <td class="left">&nbsp;</td>
                </tr>
        </table>
    </div>
    <div class="recordfooter">3,456 Reports</div>
    <div class="state">
        <div class="btn-group">
            <button class="btn btn-small">Edit*</button>
            <button class="btn btn-small">Audit</button>
        </div>
    </div>
    <div class="btn-group dropup">
        <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
        <button class="btn btn-small btn primary pull-right">View Template</button>

        <ul class="dropdown-menu pull-right">
            <li><a href="#">My Work Order</a></li>
            <li><a href="#">My Documents</a></li>
            <li><a href="#">My Search Criteria</a></li>
        </ul>
        <button class="btn btn-small btn primary pull-right">Save Template</button>
        <button class="btn btn-small btn primary pull-right">Reset To Default</button>
        <button class="btn btn-small btn primary pull-right">Undo Sort</button>
    </div>
</div>
<div class="boxholderbuttons">
    <div class="btn-group btn-group-vertical">
        <button class="btn">Edit Client*</button>
        <button class="btn">Price List(3)*</button>
    </div>
</div>
