<div class="eightypercent">
    <div class="texttypebar">Work Order Attachments</div>
    <div class="gridholder">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width: 5%;">Active</th>
                <th style="width: 15%;">Type</th>
                <th style="width: 5%;">File</th>
                <th style="width: 15%;">File Name</th>
                <th style="width: 35%;">Comment</th>
                <th style="width: 10%;">Input Date</th>
                <th style="width: 10%;">Input By</th>
                <th style="width: 5%;">Record No</th>
            </tr>
            <tr>
                <td class="left" align="center"><input type="checkbox" checked="checked" name="checkbox2" id="checkbox30"/></td>
                <td class="left">WO ATTACHMENT&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="left">PDF</td>
                <td class="left">APPLE IVR INSTRUCTINS</td>
                <td class="left">Type your Comments</td>
                <td class="left">11/02/09</td>
                <td class="left">JWEISBERGER</td>
                <td class="left">10185090</td>
             </tr>
             <tr>
                 <td class="tdalt" align="center"><input type="checkbox" checked="checked" name="checkbox2" id="checkbox55"/></td>
                <td class="tdalt">WO ATTACHMENT</td>
                <td class="tdalt">PDF</td>
                <td class="tdalt">BROADWAY NATIONAL SIGNS&nbsp;&nbsp;&nbsp;</td>
                <td class="tdalt">Type your Comments</td>
                <td class="tdalt">10/02/10</td>
                <td class="tdalt">SOLER-KOZAROWITZKY</td>
                <td class="tdalt">10511187</td>
            </tr>
            <tr>
                <td class="left" align="center"><input type="checkbox" checked="checked" name="checkbox2" id="checkbox76"/></td>
                <td class="left">WO ATTACHMENT</td>
                <td class="left">PDF</td>
                <td class="left">APPLE IVR INSTRUCTINS</td>
                <td class="left">Type your Comments</td>
                <td class="left">11/02/09</td>
                <td class="left">JWEISBERGER</td>
                <td class="left">10185090</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>

            </tr>
            <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>
            </tr>
             <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                 <td class="left">&nbsp;</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>
            </tr>
             <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                 <td class="left">&nbsp;</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>
            </tr>
             <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                 <td class="left">&nbsp;</td>
             </tr>
             <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                 <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
             </tr>
            <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
            <tr>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
                <td class="left">&nbsp;</td>
             </tr>
            <tr>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
                <td class="tdalt">&nbsp;</td>
            </tr>
        </table>
    </div>
    <div class="recordfooter">3,456 Work Orders</div>
    <div class="state">
     <div class="btn-group">
        <button class="btn btn-small" id="woattachview">View</button>
        <button class="btn btn-small" id="woattachadd">Add</button>
        <button class="btn btn-small" id="woattachedit">Edit*</button>
        <button class="btn btn-small" id="woattachemail"onclick="MM_openBrWindow('../Shared/cnewemailwithvendor.html','','menubar=yes,scrollbars=yes,resizable=yes,width=1000,height=550')">Email</button>
        <button class="btn btn-small" id="cauditwoatt"onclick="MM_openBrWindow('../Shared/clientlistingshared/cauditwoatt.html','','scrollbars=yes,resizable=yes,width=1200,height=370')">&nbsp;Audit&nbsp;</button>
        <button class="btn btn btn-danger btn btn-small" id="woattachdelete">Delete*</button>
    </div>
    </div>
    <div class="btn-group dropup">
                <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
                <button class="btn btn-small btn primary pull-right">View Template</button>
                
                <ul class="dropdown-menu pull-right">
                  <li><a href="#">My Work Order</a></li>
                  <li><a href="#">My Documents</a></li>
                  <li><a href="#">My Search Criteria</a></li>
                 </ul>
                 <button class="btn btn-small btn primary pull-right" id="savetemp7">Save Template</button>
                  <button class="btn btn-small btn primary pull-right">Reset To Default</button>
                    <button class="btn btn-small btn primary pull-right">Undo Sort</button>
              </div>
    
  </div>
     <div class="boxholderbuttons">
        <div class="btn-group btn-group-vertical">
        <button class="btn" id="woattacheditclient" onclick="MM_openBrWindow('editclient.html','','scrollbars=yes,resizable=yes,width=1400,height=700')">Edit Client*</button>
        <button class="btn" id="woattachpricelisting" onclick="MM_openBrWindow('../Vendor/vendorpricelist.html','','scrollbars=yes,resizable=yes,width=1000,height=800')">Price List(3)*</button>
        </div>
    </div>