<div class="eightypercent">
    <div class="texttypebar">Work Order Attachments</div>
    <div class="gridholder">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width: 5%;">Active</th>
                    <th style="width: 15%;">Type</th>
                    <th style="width: 5%;">File</th>
                    <th style="width: 15%;">File Name</th>
                    <th style="width: 35%;">Comment</th>
                    <th style="width: 10%;">Input Date</th>
                    <th style="width: 10%;">Input By</th>
                    <th style="width: 5%;">Record No</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: WorkOrderAttachments">
                <tr data-bind="click : $root.selectWorkOrderAttachment, css:{'tablerowselect': $root.selectedWorkOrderAttachment() === $data}">
                    <td class="left" align="center">
                        <input type="checkbox" /></td>
                    <td class="left" data-bind="text: Document.DocumentTypeName()"></td>
                    <td class="left" data-bind="text: Document.FileExtension"></td>
                    <td class="left" data-bind="text: Document.formattedName"></td>
                    <td class="left" data-bind="html: Comments"></td>
                    <td class="left" data-bind="text: InputDate.formatted"></td>
                    <td class="left" data-bind="text: Document.InputBy"></td>
                    <td class="left" data-bind="text: Document.RecordNumber"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="recordfooter"><span data-bind="text: $root.totalWorkOrderAttachments"></span>&nbsp;Work Orders</div>
    <div class="state">
        <div class="btn-group">
            <button class="btn btn-small">View</button>
            <button class="btn btn-small" data-bind="enable: ClientId(), click:addDocument" >Add</button>
            <button class="btn btn-small" data-bind="click:editDocument, enable: selectedWorkOrderAttachment()">Edit*</button>
            <button class="btn btn-small" data-bind="click: emailDocument, enable: selectedWorkOrderAttachment()">Email</button>
            <button class="btn btn-small">&nbsp;Audit&nbsp;</button>
            <button class="btn btn btn-danger btn btn-small" data-bind="click : deleteDocument, enable: selectedWorkOrderAttachment()">Delete*</button>
        </div>
    </div>
    <div class="btn-group dropup">
        <button class="btn btn-small btn primary dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret"></span></button>
        <button class="btn btn-small btn primary pull-right">View Template</button>

        <ul class="dropdown-menu pull-right">
            <li><a href="#">My Work Order</a></li>
            <li><a href="#">My Documents</a></li>
            <li><a href="#">My Search Criteria</a></li>
        </ul>
        <button class="btn btn-small btn primary pull-right">Save Template</button>
        <button class="btn btn-small btn primary pull-right">Reset To Default</button>
        <button class="btn btn-small btn primary pull-right">Undo Sort</button>
    </div>

</div>
<div class="boxholderbuttons">
    <div class="btn-group btn-group-vertical">
        <button class="btn" id="woattacheditclient">Edit Client*</button>
        <button class="btn" id="woattachpricelisting">Price List(3)*</button>
    </div>
</div>


<div id="modal-addWOAttachment" title="Add Work Order Attachment" class="modal hide" data-bind="modal: addingDocument" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4>Add Work Order Attachment</h4>
    </div>
    <div class="modal-body" id="Div2">
        <div id="Div3" data-bind="template: { name: 'add_workorderattachment' , afterRender: $root.prepareUpload, templateUrl: 'Templates/EndUser/Shared/ClientListingShared'}, ">
        </div>
    </div>
    <div class="btn-group modal-footer">
        <button id="btnSaveAddWO" class="btn btn-primary" data-bind="enable: $root.validFileUploaded, click: $root.saveAddDocument"><i class="icon-ok icon-white"></i>Save</button>
        <button class="btn" data-bind="click: function(data, event) { $root.cancelAdd('#modal-addWOAttachment', data, event) }"><i class="icon-ban-circle"></i>Cancel</button>
    </div>
</div>

<div id="modal-editWOAttachment" title="Edit Work Order Attachment" class="modal hide" data-bind="modal: editingDocument" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4>Edit Work Order Attachment</h4>
    </div>
    <div class="modal-body" id="Div4">
        <div id="Div5" data-bind="template: { name: 'edit_workorderattachmentcomment' , afterRender: $root.prepareUpload, templateUrl: 'Templates/EndUser/Shared/ClientListingShared'}">
        </div>
    </div>
    <div class="btn-group modal-footer">
        <button id="btnSaveEditWO" class="btn btn-primary" data-bind="click: function(data, event) {$root.saveEditDocument('#modal-editWOAttachment', data, event) }"><i class="icon-ok icon-white"></i>Save</button>

        <!--<button id="btnSaveEdit" class="btn btn-primary" data-bind="click: $root.saveEditDocument"><i class="icon-ok icon-white"></i>Save</button>-->
        <button class="btn" data-bind="click: function(data, event) { $root.cancelEdit('#modal-editWOAttachment', data, event) }"><i class="icon-ban-circle"></i>Cancel</button>
    </div>
</div>
